:root {
    --main-color-o: #fe914d;
    --main-color-p: #fd696f;
    scroll-behavior: smooth;
}

img{
    user-select: none;
}

body::selection
{
    background-color: #fd696eca;
    color: white;
}

.text-p {
    color: var(--main-color-p);
}

.text-o {
    color: var(--main-color-o);
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.main-btn {
    padding: 10px;
    border-radius: 100px;
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: .3s;
    color: white;
}

.m-btn {
    padding: 15px 25px;
    border-radius: 100px;
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
    font-family: "h-font";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: .3s;
    color: white;
}

.m-btn:hover {
    background-image: linear-gradient(white, white);
    color: #421f89;
}

.nav-menu {
    display: flex;
}

.main-btn:hover {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 1px 1px 10px var(--main-color-o);
}

.nav-img {
    width: 40px;
}

.nav-list {
    list-style: none;
    justify-content: space-between;
    align-items: center;
}


.main-font {
    font-family: "p-font";
}

.nav-icon ul {
    list-style: none;
}

.nav-icon ul li {
    margin: 5px;
}

.nav-list li {
    margin: 10px;
    padding: 5px;
    /* border-radius: 100px; */
    transition: all .3s;
    position: relative;
}

.nav-list li::after {
    content: " ";
    width: 90%;
    height: 3px;
    background-color: #fd696f;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: .3s;
}


.nav-list li:hover::after {
    transform: translateX(-50%) scalex(1);
}

.nav-list li:hover a {
    color: var(--main-color-p);
}

.main-p {
    font-family: "p-font";
    color: #5b4f76;
    font-size: 18px;
    line-height: 1.8;
}

.main-p-b {
    font-family: "p-font-b";
    color: #5b4f76;
    font-size: 18px;
    line-height: 1.8;
}

.main-h {
    color: #421f89;
    font-family: "h-font-b";
    font-size: 50px;
    line-height: 1;
}


.main-font-2 {
    font-family: "h-font";
}

.main-font-2-b {
    font-family: "h-font-b";
}

.little {
    font-size: 20px;
}

@font-face {
    font-family: "h-font-b";
    src: url(../webfonts/DynaPuff_Condensed-Bold.ttf);
}

@font-face {
    font-family: "h-font";
    src: url(../webfonts/DynaPuff-Regular.ttf);
}

@font-face {
    font-family: "p-font";
    src: url(../webfonts/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: "p-font-b";
    src: url(../webfonts/BalsamiqSans-Bold.ttf);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
}

.side-bar {
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9999;
    transform: translateX(500px);
    transition: 1s;
}

.side-bar ul {
    list-style: none;
}

.side-bar .side-list li {
    padding: 10px;
    transition: .3s;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

.side-bar .side-list li:hover {
    transform: translateX(5px);
    background-color: rgba(255, 255, 255, 0.45);
}

.side-bar li a {
    color: white;
}

.side-icon {
    margin: 10px;
}

.side-icon button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: white;
    transition: .3s;
    color: var(--main-color-o);
}

.close-side {
    border: 0;
    background-color: #ffffff00;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: .3s;
}

.close-side i {
    transition: .3s;

}

.close-side:hover {
    color: red;
    background-color: rgb(255, 255, 255);
}

.hero {
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-size: 110% 110%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: hero-effect 10s;
}

@keyframes hero-effect {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 110% 110%;
    }
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.head-content {
    margin-top: 20px;
}

.watch-btn {
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 0 20px;
    border-radius: 50%;
    background-image: linear-gradient(white, white);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: .3s;
    color: #421f89;

}

.watch-btn:hover {
    background-image: linear-gradient(60deg, var(--main-color-o), var(--main-color-p));
    color: white;
}

.contact-box {
    color: white;
    border-radius: 50px;
    font-family: "h-font";
    background-image: linear-gradient(#3f4369, #32344A);
    transform: translateY(-50%);
}

.box img {
    width: 60px;

}

.box {
    transition: .3s;
    border-radius: 10px;
}

.box:hover {
    transform: translateY(-10px);
    background-color: #ffffff20;
}

.box p {
    color: #ffffffab;
}

.skills-con {
    width: 80px;
    height: 80px;
    font-size: 35px
}

.gallery {
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));

}

.gallery img {
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}

.gallery-img {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.gallery-layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(60deg, #fe914da8, #fd696e96);
    opacity: 0;
    transition: .5s;
    z-index: 10;
}

.gallery-content {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.685);
}

.gallery-img:hover img {
    transform: scale(1.05);
}

.gallery-img:hover .gallery-layout {
    opacity: 1;
}

.gallery .main-h {
    font-size: 45px;
}

.white-btn {
    padding: 15px 25px;
    border-radius: 100px;
    background-image: linear-gradient(white, white);
    font-family: "h-font";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: .3s;
    color: #421f89;

}

.white-btn:hover {
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
    color: white;

}

.number-cover {
    border-radius: 50px;
    font-family: "h-font";
    background-image: linear-gradient(#3f4369, #32344A);
    transition: .3s;
}

.number-cover:hover {
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
    transform: translateY(-15px);
}

.number-box {
    border-radius: 50px;
    font-family: "h-font";
    background-color: white;
}

/* .row div div{
    height: 100%;
} */

.teacher {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: white;
    border-radius: 40px;
    transition: .3s;
    overflow: hidden;
}

.teacher:hover {
    transform: translateY(-10px);
}

.teacher-layout {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.47);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.teacher:hover .teacher-layout {
    opacity: 1;
}

.teacher-layout:hover .icons {
    transform: translate(0);
}

.teacher-photo {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0 30px 0;
}

.teacher-name {
    color: #421f89;
    font-family: "h-font-b";
    font-size: 35px;
    line-height: 1;
}

.icons {
    transition: .5s;
}

.face {
    transform: translate(-50px, 0);
}

.inst {
    transform: translate(0px, -50px);
}

.link {
    transform: translate(50px, 0);
}


.bg-main {
    background-image: linear-gradient(60deg, var(--main-color-p), var(--main-color-o));
}


.slide-address p {
    font-size: 22px;

}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide {
    max-width: 800px;
    /* border-radius: 50px; */
    

}

.carousel-item {
    border-radius: 50px;
    /* overflow: hidden; */
}

.rev {
    position: relative;
    overflow: visible;
}

.reviewer-name {
    font-family: "p-font-b";
    font-size: 20px;
    color: #421f89;
}

.carousel-inner {
    cursor: pointer;
    overflow: visible;
}

.reviewer-job {
    font-family: "p-font";
    color: gray;
    font-size: 18px;
    line-height: 1.8;

}

.carousel-item .main-p {
    color: #421f89;
}

.carousel-item {
    transition: .5s
}

.reviewer-photo {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

input , textarea
{
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 10px;
    font-family: "p-font";
}

textarea{
    height: 150px;
}

.submit button
{
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    border: 0;
}

.contact-box-2 {
    color: white;
    border-radius: 50px;
    font-family: "h-font";
    background-image: linear-gradient(#3f4369, #32344A);
}

.footer-headlines
{
    font-family: "h-font-b";
    font-size: 30px;
    color: var(--main-color-o);
    margin-bottom: 40px;
}

.footer-links
{
    font-family: "p-font";
    color: #3f4369;
    font-size: 16px;
    transition: .3s;

}
.footer-links:hover{
    color: var(--main-color-p);
}

footer li:hover {
    transform: translateX(5px);
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li a::before{
    content: "=> ";
    color: var(--main-color-p);
    
}

footer li{
    transition: .3s;
    margin: 10px 0;
}

.footer-img
{
    width: 300px;
}

.footer-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1e9e7;
}

.f-icon{
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    color:#3f4369;
    transform: translateY(50%);
    transition: .3s;
}

.f-icon:hover
{
    color: #fd696f;   
}








@media(max-width: 740px) {
    .head-content {
        width: 100% !important;
    }

    .contact-box {
        transform: translateY(0);
    }

    .contact-box-cover {
        padding: 0 50px;
        text-align: center;
    }


    input
    {
        width: 100% !important;
    }


    footer
    {
        text-align: center;
    }
}